src/wsdl/localhost_8080/ServicioWebClinica/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/ServicioWebClinica/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="listarUbigeo">
<part name="parameters" element="tns:listarUbigeo"/>
</message>
<message name="listarUbigeoResponse">
<part name="parameters" element="tns:listarUbigeoResponse"/>
</message>
<portType name="Servicios">
<operation name="listar">
<input wsam:Action="http://WS/Servicios/listarRequest" message="tns:listar"/>
<output wsam:Action="http://WS/Servicios/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="validar">
<input wsam:Action="http://WS/Servicios/validarRequest" message="tns:validar"/>
<output wsam:Action="http://WS/Servicios/validarResponse" message="tns:validarResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://WS/Servicios/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://WS/Servicios/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="listarUbigeo">
<input wsam:Action="http://WS/Servicios/listarUbigeoRequest" message="tns:listarUbigeo"/>
<output wsam:Action="http://WS/Servicios/listarUbigeoResponse" message="tns:listarUbigeoResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUbigeo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/ServicioWebClinica/Servicios"/>
</port>
</service>
</definitions>